.container {
  max-width: 1100px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin:0
}

.site-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #ff7500;
}

.site-header-container {
  display: flex;
  align-items: center ;
}

.site-logo {
  margin-right: auto;
}

.site-nav {
  margin-right: 32px;
}

.site-nav-list {
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
  align-items:center;
}

.site-nav-item:not(:last-child) {
margin-right: 32px;
}

.site-nav-link {
    padding-top: 4px;
  text-decoration: none;
  color:#000000;
  font-weight: 500;
  font-size: 13;
}

.site-nav-link-active {
  border-bottom: 3px solid #ff7500;
}

.btn {
  border:none;
  padding: 12px 24px;
  cursor:pointer;
  color:#fff;
  background-color:#ff7500;
  border-radius: 4px;
}

p::selection {
  background-color:red;
  color:gold;
}

.site-main {
  padding-bottom: 160px;
}

.hero {
  background-color: #252420;
  color:#fff;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 147px;
}

.hero-container {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.hero-info {
max-width: 387px;
width: 100%;
}

.hero-line {
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color:#ff7500;
  margin-bottom: 40px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 700;
  font-weight: 40px;
  letter-spacing: 0.5px;
  line-height: 1.2px;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-img-wrapper img {
  width: 510;
  height: 510;
  object-fit: cover;
  border-radius: 8px;
}

.main-info {
  margin-bottom: 245px;
}

.main-info-line {
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color:#ff7500;
  margin-bottom: 24px;
}

.main-info-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  max-width: 435px;
  width: 100%;
}

.main-info-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-info-item {
  max-width: 340px;
  width: 100%;
}

.main-info-item:not(:last-child) {
  margin-right: 40px;
}

.main-info-icon {
  width: 100px;
  height: 100px;
  background-color:rgb(255, 117, 0, 0.2);
  display: flex;
  align-items:center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 32px;
}

.main-info-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 12px;
}

.main-info-item-text {
  margin-top: 0;
  margin-bottom: 0;
}

.promo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#252420;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  color:#fff;
  border-radius:12px
}

.promo-info {
  max-width: 440px;
  width: 100%;
}

.promo-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.promo-text {
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-text2 {
  margin-top: 0;
  margin-bottom: 24px;
}

.promo-span {
  color:#ff7500;
  font-weight: 700;
}

.promo-img-wrapper img {
  width: 440px;
  height: 440px;
  border-radius: 12px;
}

/* site-footer */
.site-footer {
  background-color:#f8f8f8;
  padding-top: 56px;
  padding-bottom: 56px;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-top-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-footer-top-time:not(:last-child) {
  margin-right: 16px;
}

.site-footer-top-link {
  color:#252420;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-footer-top-link svg {
  transition:all 0.4s ease;
}

.site-footer-top-link svg:hover {
  color:#ff7500;
}

.site-footer-top-link svg:active {
  opacity: 0.6;
}

.site-footer-line {
  margin-top: 40px;
  margin: bottom 64px;
  height: 2px;
  background-color: rgb(37, 36, 32, 0.5);
}

.site-footer-bottom {
  display: flex;
  justify-content: space-between;
}

.site-footer-bottom-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footer-bottom-item:not(:last-child) {
  margin-bottom: 16px;
}

.site-footer-bottom-link {
  text-decoration: none;
  color:#252420;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  transition: all 0.4 ease;
}

.site-footer-bottom-link:hover {
  color:#ff7500;
}

..site-footer-bottom-link:active {
  opacity: 0.6;
}